@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 12px 15px;
}


.text-center {
  text-align: center;
}

.text-muted {
  color: #828282;
  font-size: 14px;
}

.text-light {
  color: #BDBDBD;
}

.text-bold{
  font-weight: 700;
}

