@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");


.text-center {
  text-align: center;
}

.text-muted {
  color: #828282;
  font-size: 14px;
}

.text-bold {
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: #48a9e0;
}
